* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(133, 30, 177);
    --second-color: teal;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--main-color);
    background-color: darkgrey;
    border: 1px solid transparent;
}

/* Header Styling */
header {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 35px;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url(../hero.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 70%;
    z-index: 9999;
}
/* Header Text */
header h1 {
font-weight: bold;
font-size: 36px;
margin: 0;
padding: 0;
}

/* Links */
header a {
text-decoration: none;
}
header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    color: rbg(133,30,177);
    text-decoration: und;
}
header nav ul li a:hover {
    background:rgb(133, 30, 177);
    color: gray;
}

/* Hero */
.hero {
    background-image: url("../hero.jpg");
    height: 900px;
    max-width: 2297;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
}
.subtitle {
    position: relative;
    text-align: center;
    bottom: 0;
    right: 0;
    color: white;
    z-index: 2;
}
/* Content start */
.section {
    margin: 50px auto;
    display: wrap;
}
.left {
    float: left;
    width: 33.33%;
}
.right {
    padding: 50px;
    flex: wrap;
}
.right:after {
    content:"";
    display: table;
    clear: both;
}
/* About me start */

.about-me-section {
    width: 40%;
    display: flex;
    align-items: left;
}
.about-me {
    font-size: 80px;
    margin: 10px;
    border-right: 5px solid black;
    display: flex;
    text-align: center;
}
.about-me-content {
    font-size: 30px;
    display: flex;
    align-items: right;
}
/* Work Start */
.work-section {
    padding-top: 50px;
    width: 40%;
    align-items: left;
}
.work {
    font-size: 80px;
    margin: 10px;
    border-right: 5px solid black;
    text-align: center;
    display: flex;
    width: 282.22px;
}
.work-content {
    font-size: 30px;
    display: inline-block;
    flex-wrap: wrap;
    

}
.run-buddy img {
    text-align: center;
    border: 5px solid teal;
    height: 300px;
    width: 500px;
}

.row-1 img {
    height: 150px;
    width: 300px;
    border: 5px solid teal;
    padding: 0 0 0 0 ;
    justify-content: space-between;
    flex: 1 0 33%;
}

.row-2 img {
    height: 150px;
    width: 300px;
    border: 5px solid teal;
    padding: 0 0 0 0 ;
    justify-content: space-between;
    flex: 1 0 33%;
}

/* contact me section */
.contact-section {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: auto;
}
.contact-me {
    font-size: 65px;
    margin: 10px;
    border-right: 5px solid black;
}
.contacts {
    flex: 50%;
    font-size: 30px;
}









/* MEDIA QUERY FOR SMALL DESKTOPS */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
    section {
        width: 100%;
        justify-content: center;
    }
    
    footer {
        text-align: center;
        width: 100%;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 760px)