* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(133, 30, 177);
    --second-color: teal;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--main-color);
    background-color: darkgrey;
    border: 1px solid transparent;
}

/* Header Styling */
header {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 35px;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url(../hero.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}
/* Header Text */
header h1 {
font-weight: bold;
font-size: 36px;
margin: 0;
padding: 0;
}

/* Links */
header a {
text-decoration: none;
}
header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    color: rbg(133,30,177);
}
header nav ul li a:hover {
    background:rgb(133, 30, 177);
}

/* Hero */
.hero {
    background-image: url("../hero.jpg");
    height: 800px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
}

/* Content start */
.section {
    margin-top: 60px;
    display: wrap;
}

/* About me start */

.about-me-title {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}
.about-me {
    font-size: 30px;
    display: flex;
    flex-wrap: flex;
}
/* Work Start */
.work {
    align-items: left;
    display: flex;

}
.work-text {
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
}
.work-content {
    font-size: 30px;
    text-align: center;

}
#run-buddy img {    
    border: 5px solid teal;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}
.img {
    height: 150px;
    width: 300px;
    border: 5px solid teal;
    padding: 0 0 0 0 ;
    flex: 100%;
    gap: 25px;
}
.row-1 img {
    height: 150px;
    width: 300px;
    border: 5px solid teal;
    flex: 100%;
    margin: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.row-2 img {
    height: 150px;
    width: 300px;
    border: 5px solid teal;
    padding: 0 0 0 0 ;
    flex: 100%;
    margin: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/* contact me section */
.contact-section {
    width: 80%;
    align-items: center;
    max-width: auto;
    display: flex;
    flex-wrap: wrap;
}
.contacts {
    flex: 50%;
    font-size: 30px;
    text-align: right;
}









/* MEDIA QUERY FOR SMALL DESKTOPS */
@media screen and (max-width: 1080px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }

    footer {
        text-align: center;
        width: 100%;
    }
  
}
